.file-style {
  &__wrapper {
    width: 40px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__label {
    width: calc(100% + 4px);
    height: 20px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .file-style__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e20707;
  }

 
}