.withdraw-from-bank {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__drawer-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  &__drawer-modal-title {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "moraba";
    font-size: 18px;
    font-weight: 700;
    color: var(--gray-950);
  }

  &__drawer-modal-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    overflow-y: auto;
  }

  &__radio-section {
    width: 100%;
    padding-inline-end: 64px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__fund-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__fund-labels {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__balance {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  &__button-section {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (width >= 1280px) {
  .withdraw-from-bank {
    &__radio-section {
      padding-inline-end: 128px;
    }
  }
}
