@use  "../../../../styles/mixins.scss" as *;

.ui-counter-button {
  width: 151px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 20px;
  border: none;
  outline: none;

  &.mode {
    &-side-rounded {
      width: unset;
      border-radius: 100px;
    }
    &-underline {  
      padding: 8px 20px;
      border-radius: 24px 24px 0 0;
    }
    &-simple {
      width: fit-content;
      height: fit-content;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      gap: 0;
    }
  }

  &.border-mode {
    &-full {
      border: 2px solid;
    }
    &-footer {
      border-bottom: 2px solid;
    }
  }
  & .value {
    width: 21px;
  }
  &.bgc {
    &-primary {
      &-950 {
        background-color: var(--primary-950);
      }
      &-900 {
        background-color: var(--primary-900);
      }
      &-800 {
        background-color: var(--primary-800);
      }
      &-700 {
        background-color: var(--primary-700);
      }
      &-600 {
        background-color: var(--primary-600);
      }
      &-500 {
        background-color: var(--primary-500);
      }
      &-400 {
        background-color: var(--primary-400);
      }
      &-300 {
        background-color: var(--primary-300);
      }
      &-200 {
        background-color: var(--primary-200);
      }
      &-100 {
        background-color: var(--primary-100);
      }
      &-50 {
        background-color: var(--primary-50);
      }
    }
    &-secondary1 {
      &-950 {
        background-color: var(--secondary1-950);
      }
      &-900 {
        background-color: var(--secondary1-900);
      }
      &-800 {
        background-color: var(--secondary1-800);
      }
      &-700 {
        background-color: var(--secondary1-700);
      }
      &-600 {
        background-color: var(--secondary1-600);
      }
      &-500 {
        background-color: var(--secondary1-500);
      }
      &-400 {
        background-color: var(--secondary1-400);
      }
      &-300 {
        background-color: var(--secondary1-300);
      }
      &-200 {
        background-color: var(--secondary1-200);
      }
      &-100 {
        background-color: var(--secondary1-100);
      }
      &-50 {
        background-color: var(--secondary1-50);
      }
    }
    &-secondary2 {
      &-950 {
        background-color: var(--secondary2-950);
      }
      &-900 {
        background-color: var(--secondary2-900);
      }
      &-800 {
        background-color: var(--secondary2-800);
      }
      &-700 {
        background-color: var(--secondary2-700);
      }
      &-600 {
        background-color: var(--secondary2-600);
      }
      &-500 {
        background-color: var(--secondary2-500);
      }
      &-400 {
        background-color: var(--secondary2-400);
      }
      &-300 {
        background-color: var(--secondary2-300);
      }
      &-200 {
        background-color: var(--secondary2-200);
      }
      &-100 {
        background-color: var(--secondary2-100);
      }
      &-50 {
        background-color: var(--secondary2-50);
      }
    }
    &-error {
      &-950 {
        background-color: var(--error-950);
      }
      &-900 {
        background-color: var(--error-900);
      }
      &-800 {
        background-color: var(--error-800);
      }
      &-700 {
        background-color: var(--error-700);
      }
      &-600 {
        background-color: var(--error-600);
      }
      &-500 {
        background-color: var(--error-500);
      }
      &-400 {
        background-color: var(--error-400);
      }
      &-300 {
        background-color: var(--error-300);
      }
      &-200 {
        background-color: var(--error-200);
      }
      &-100 {
        background-color: var(--error-100);
      }
      &-50 {
        background-color: var(--error-50);
      }
    }
    &-gray {
      &-950 {
        background-color: var(--gray-950);
      }
      &-900 {
        background-color: var(--gray-900);
      }
      &-800 {
        background-color: var(--gray-800);
      }
      &-700 {
        background-color: var(--gray-700);
      }
      &-600 {
        background-color: var(--gray-600);
      }
      &-500 {
        background-color: var(--gray-500);
      }
      &-400 {
        background-color: var(--gray-400);
      }
      &-300 {
        background-color: var(--gray-300);
      }
      &-200 {
        background-color: var(--gray-200);
      }
      &-100 {
        background-color: var(--gray-100);
      }
      &-50 {
        background-color: var(--gray-50);
      }
    }
    &-main {
      &-black {
        background-color: var(--main-black);
      }
      &-white {
        background-color: var(--main-white);
      }
      &-bg {
        background-color: var(--main-bg);
      }
    }
    &-transparent {
      background-color: transparent;
    }
  }
  &.border {
    &-primary {
      &-950 {
        border-color: var(--primary-950);
      }
      &-900 {
        border-color: var(--primary-900);
      }
      &-800 {
        border-color: var(--primary-800);
      }
      &-700 {
        border-color: var(--primary-700);
      }
      &-600 {
        border-color: var(--primary-600);
      }
      &-500 {
        border-color: var(--primary-500);
      }
      &-400 {
        border-color: var(--primary-400);
      }
      &-300 {
        border-color: var(--primary-300);
      }
      &-200 {
        border-color: var(--primary-200);
      }
      &-100 {
        border-color: var(--primary-100);
      }
      &-50 {
        border-color: var(--primary-50);
      }
    }
    &-secondary1 {
      &-950 {
        border-color: var(--secondary1-950);
      }
      &-900 {
        border-color: var(--secondary1-900);
      }
      &-800 {
        border-color: var(--secondary1-800);
      }
      &-700 {
        border-color: var(--secondary1-700);
      }
      &-600 {
        border-color: var(--secondary1-600);
      }
      &-500 {
        border-color: var(--secondary1-500);
      }
      &-400 {
        border-color: var(--secondary1-400);
      }
      &-300 {
        border-color: var(--secondary1-300);
      }
      &-200 {
        border-color: var(--secondary1-200);
      }
      &-100 {
        border-color: var(--secondary1-100);
      }
      &-50 {
        border-color: var(--secondary1-50);
      }
    }
    &-secondary2 {
      &-950 {
        border-color: var(--secondary2-950);
      }
      &-900 {
        border-color: var(--secondary2-900);
      }
      &-800 {
        border-color: var(--secondary2-800);
      }
      &-700 {
        border-color: var(--secondary2-700);
      }
      &-600 {
        border-color: var(--secondary2-600);
      }
      &-500 {
        border-color: var(--secondary2-500);
      }
      &-400 {
        border-color: var(--secondary2-400);
      }
      &-300 {
        border-color: var(--secondary2-300);
      }
      &-200 {
        border-color: var(--secondary2-200);
      }
      &-100 {
        border-color: var(--secondary2-100);
      }
      &-50 {
        border-color: var(--secondary2-50);
      }
    }
    &-error {
      &-950 {
        border-color: var(--error-950);
      }
      &-900 {
        border-color: var(--error-900);
      }
      &-800 {
        border-color: var(--error-800);
      }
      &-700 {
        border-color: var(--error-700);
      }
      &-600 {
        border-color: var(--error-600);
      }
      &-500 {
        border-color: var(--error-500);
      }
      &-400 {
        border-color: var(--error-400);
      }
      &-300 {
        border-color: var(--error-300);
      }
      &-200 {
        border-color: var(--error-200);
      }
      &-100 {
        border-color: var(--error-100);
      }
      &-50 {
        border-color: var(--error-50);
      }
    }
    &-gray {
      &-950 {
        border-color: var(--gray-950);
      }
      &-900 {
        border-color: var(--gray-900);
      }
      &-800 {
        border-color: var(--gray-800);
      }
      &-700 {
        border-color: var(--gray-700);
      }
      &-600 {
        border-color: var(--gray-600);
      }
      &-500 {
        border-color: var(--gray-500);
      }
      &-400 {
        border-color: var(--gray-400);
      }
      &-300 {
        border-color: var(--gray-300);
      }
      &-200 {
        border-color: var(--gray-200);
      }
      &-100 {
        border-color: var(--gray-100);
      }
      &-50 {
        border-color: var(--gray-50);
      }
    }
    &-main {
      &-black {
        border-color: var(--main-black);
      }
      &-white {
        border-color: var(--main-white);
      }
      &-bg {
        border-color: var(--main-bg);
      }
    }
  }
  &.hover {
    &-primary {
      &-950 {
        &:hover {
          background-color: var(--primary-950);
        }
      }
      &-900 {
        &:hover {
          background-color: var(--primary-900);
        }
      }
      &-800 {
        &:hover {
          background-color: var(--primary-800);
        }
      }
      &-700 {
        &:hover {
          background-color: var(--primary-700);
        }
      }
      &-600 {
        &:hover {
          background-color: var(--primary-600);
        }
      }
      &-500 {
        &:hover {
          background-color: var(--primary-500);
        }
      }
      &-400 {
        &:hover {
          background-color: var(--primary-400);
        }
      }
      &-300 {
        &:hover {
          background-color: var(--primary-300);
        }
      }
      &-200 {
        &:hover {
          background-color: var(--primary-200);
        }
      }
      &-100 {
        &:hover {
          background-color: var(--primary-100);
        }
      }
      &-50 {
        &:hover {
          background-color: var(--primary-50);
        }
      }
    }
    &-secondary1 {
      &-950 {
        &:hover {
          background-color: var(--secondary1-950);
        }
      }
      &-900 {
        &:hover {
          background-color: var(--secondary1-900);
        }
      }
      &-800 {
        &:hover {
          background-color: var(--secondary1-800);
        }
      }
      &-700 {
        &:hover {
          background-color: var(--secondary1-700);
        }
      }
      &-600 {
        &:hover {
          background-color: var(--secondary1-600);
        }
      }
      &-500 {
        &:hover {
          background-color: var(--secondary1-500);
        }
      }
      &-400 {
        &:hover {
          background-color: var(--secondary1-400);
        }
      }
      &-300 {
        &:hover {
          background-color: var(--secondary1-300);
        }
      }
      &-200 {
        &:hover {
          background-color: var(--secondary1-200);
        }
      }
      &-100 {
        &:hover {
          background-color: var(--secondary1-100);
        }
      }
      &-50 {
        &:hover {
          background-color: var(--secondary1-50);
        }
      }
    }
    &-secondary2 {
      &-950 {
        &:hover {
          background-color: var(--secondary2-950);
        }
      }
      &-900 {
        &:hover {
          background-color: var(--secondary2-900);
        }
      }
      &-800 {
        &:hover {
          background-color: var(--secondary2-800);
        }
      }
      &-700 {
        &:hover {
          background-color: var(--secondary2-700);
        }
      }
      &-600 {
        &:hover {
          background-color: var(--secondary2-600);
        }
      }
      &-500 {
        &:hover {
          background-color: var(--secondary2-500);
        }
      }
      &-400 {
        &:hover {
          background-color: var(--secondary2-400);
        }
      }
      &-300 {
        &:hover {
          background-color: var(--secondary2-300);
        }
      }
      &-200 {
        &:hover {
          background-color: var(--secondary2-200);
        }
      }
      &-100 {
        &:hover {
          background-color: var(--secondary2-100);
        }
      }
      &-50 {
        &:hover {
          background-color: var(--secondary2-50);
        }
      }
    }
    &-error {
      &-950 {
        &:hover {
          background-color: var(--error-950);
        }
      }
      &-900 {
        &:hover {
          background-color: var(--error-900);
        }
      }
      &-800 {
        &:hover {
          background-color: var(--error-800);
        }
      }
      &-700 {
        &:hover {
          background-color: var(--error-700);
        }
      }
      &-600 {
        &:hover {
          background-color: var(--error-600);
        }
      }
      &-500 {
        &:hover {
          background-color: var(--error-500);
        }
      }
      &-400 {
        &:hover {
          background-color: var(--error-400);
        }
      }
      &-300 {
        &:hover {
          background-color: var(--error-300);
        }
      }
      &-200 {
        &:hover {
          background-color: var(--error-200);
        }
      }
      &-100 {
        &:hover {
          background-color: var(--error-100);
        }
      }
      &-50 {
        &:hover {
          background-color: var(--error-50);
        }
      }
    }
    &-gray {
      &-950 {
        &:hover {
          background-color: var(--gray-950);
        }
      }
      &-900 {
        &:hover {
          background-color: var(--gray-900);
        }
      }
      &-800 {
        &:hover {
          background-color: var(--gray-800);
        }
      }
      &-700 {
        &:hover {
          background-color: var(--gray-700);
        }
      }
      &-600 {
        &:hover {
          background-color: var(--gray-600);
        }
      }
      &-500 {
        &:hover {
          background-color: var(--gray-500);
        }
      }
      &-400 {
        &:hover {
          background-color: var(--gray-400);
        }
      }
      &-300 {
        &:hover {
          background-color: var(--gray-300);
        }
      }
      &-200 {
        &:hover {
          background-color: var(--gray-200);
        }
      }
      &-100 {
        &:hover {
          background-color: var(--gray-100);
        }
      }
      &-50 {
        &:hover {
          background-color: var(--gray-50);
        }
      }
    }
    &-main {
      &-black {
        &:hover {
          background-color: var(--main-black);
        }
      }
      &-white {
        &:hover {
          background-color: var(--main-white);
        }
      }
      &-bg {
        &:hover {
          background-color: var(--main-bg);
        }
      }
    }
  }

  &.shadow {
    &-primary {
      &-950 {
        @include shadow-color(var(--primary-950));
      }
      &-900 {
        @include shadow-color(var(--primary-900));
      }
      &-800 {
        @include shadow-color(var(--primary-800));
      }
      &-700 {
        @include shadow-color(var(--primary-700));
      }
      &-600 {
        @include shadow-color(var(--primary-600));
      }
      &-500 {
        @include shadow-color(var(--primary-500));
      }
      &-400 {
        @include shadow-color(var(--primary-400));
      }
      &-300 {
        @include shadow-color(var(--primary-300));
      }
      &-200 {
        @include shadow-color(var(--primary-200));
      }
      &-100 {
        @include shadow-color(var(--primary-100));
      }
      &-50 {
        @include shadow-color(var(--primary-50));
      }
    }
    &-secondary1 {
      &-950 {
        @include shadow-color(var(--secondary1-950));
      }
      &-900 {
        @include shadow-color(var(--secondary1-900));
      }
      &-800 {
        @include shadow-color(var(--secondary1-800));
      }
      &-700 {
        @include shadow-color(var(--secondary1-700));
      }
      &-600 {
        @include shadow-color(var(--secondary1-600));
      }
      &-500 {
        @include shadow-color(var(--secondary1-500));
      }
      &-400 {
        @include shadow-color(var(--secondary1-400));
      }
      &-300 {
        @include shadow-color(var(--secondary1-300));
      }
      &-200 {
        @include shadow-color(var(--secondary1-200));
      }
      &-100 {
        @include shadow-color(var(--secondary1-100));
      }
      &-50 {
        @include shadow-color(var(--secondary1-50));
      }
    }
    &-secondary2 {
      &-950 {
        @include shadow-color(var(--secondary2-950));
      }
      &-900 {
        @include shadow-color(var(--secondary2-900));
      }
      &-800 {
        @include shadow-color(var(--secondary2-800));
      }
      &-700 {
        @include shadow-color(var(--secondary2-700));
      }
      &-600 {
        @include shadow-color(var(--secondary2-600));
      }
      &-500 {
        @include shadow-color(var(--secondary2-500));
      }
      &-400 {
        @include shadow-color(var(--secondary2-400));
      }
      &-300 {
        @include shadow-color(var(--secondary2-300));
      }
      &-200 {
        @include shadow-color(var(--secondary2-200));
      }
      &-100 {
        @include shadow-color(var(--secondary2-100));
      }
      &-50 {
        @include shadow-color(var(--secondary2-50));
      }
    }
    &-error {
      &-950 {
        @include shadow-color(var(--error-950));
      }
      &-900 {
        @include shadow-color(var(--error-900));
      }
      &-800 {
        @include shadow-color(var(--error-800));
      }
      &-700 {
        @include shadow-color(var(--error-700));
      }
      &-600 {
        @include shadow-color(var(--error-600));
      }
      &-500 {
        @include shadow-color(var(--error-500));
      }
      &-400 {
        @include shadow-color(var(--error-400));
      }
      &-300 {
        @include shadow-color(var(--error-300));
      }
      &-200 {
        @include shadow-color(var(--error-200));
      }
      &-100 {
        @include shadow-color(var(--error-100));
      }
      &-50 {
        @include shadow-color(var(--error-50));
      }
    }
    &-gray {
      &-950 {
        @include shadow-color(var(--gray-950));
      }
      &-900 {
        @include shadow-color(var(--gray-900));
      }
      &-800 {
        @include shadow-color(var(--gray-800));
      }
      &-700 {
        @include shadow-color(var(--gray-700));
      }
      &-600 {
        @include shadow-color(var(--gray-600));
      }
      &-500 {
        @include shadow-color(var(--gray-500));
      }
      &-400 {
        @include shadow-color(var(--gray-400));
      }
      &-300 {
        @include shadow-color(var(--gray-300));
      }
      &-200 {
        @include shadow-color(var(--gray-200));
      }
      &-100 {
        @include shadow-color(var(--gray-100));
      }
      &-50 {
        @include shadow-color(var(--gray-50));
      }
    }
    &-main {
      &-black {
        @include shadow-color(var(--main-black));
      }
      &-white {
        @include shadow-color(var(--main-white));
      }
      &-bg {
        @include shadow-color(var(--main-bg));
      }
    }
  }
}
