.ticket-message-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  // margin-bottom: 20px;

  &--mine {
    align-items: flex-start;
  }

  &--other {
    align-items: flex-end;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2px;
    order: 1;
    &-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__bubble {
    width: 100%;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    word-wrap: break-word;
    word-break: break-word;
    order: 2;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    &--mine {
      background-color: var(--gray-50);
      border-top-right-radius: 0px;
      flex-direction: row;
    }

    &--other {
      background-color: var(--primary-50);
      border-top-left-radius: 0px;
      flex-direction: row-reverse;
    }
  }

  &__attachment {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 2px;
  }

  &__attachments {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: 8px;
  }

  &__edited {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 2px;
    margin-right: auto;
  }

  &__time {
    margin-top: 2px;
    order: 3;

    &--mine {
      text-align: left;
    }

    &--other {
      text-align: right;
    }
  }
}
@media (width >= 1280px) {
  .ticket-message-card {
    &__bubble {
      max-width: 50%;
      width: auto;
      min-width: 500px;
      padding: 14px 18px;
    }

    &__header {
      gap: 10px;
    }
  }
}
