.personal-info__fields-dual-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-info__helper-text {
  width: 100%;
  font-size: 12px;
  color: var(--gray-400);
  text-align: left;
}

@media (width >= 1280px) {
  .personal-info__fields-dual-input {
    flex-direction: row;
  }
}


