@mixin iran-sans {
  font-family: iransans, sans-serif;
}
@mixin moraba {
  font-family: "moraba", sans-serif;
}
@mixin typo40S7 {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo40S5 {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo40S4 {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo36S7 {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo36S5 {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo36S4 {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo32S7 {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo32S5 {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo32S4 {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo28S7 {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo28S5 {
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo28S4 {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo24S7 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo24S5 {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo24S4 {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo22S7 {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo22S5 {
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo22S4 {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo20S7 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo20S5 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo20S4 {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo18S7 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo18S5 {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo18S4 {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo16S7 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo16S5 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo16S4 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo14S7 {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo14S5 {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo14S4 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo12S7 {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo12S5 {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo12S4 {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo10S7 {
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo10S5 {
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo10S4 {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
@mixin typo8S7 {
  font-size: 8px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
@mixin typo8S5 {
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}
@mixin typo8S4 {
  font-size: 8px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

@mixin skeleton {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
    background-size: 400% 400%;
    animation: skeleton 1.2s ease-in-out infinite;
  }
}

@mixin shadow-color($color) {
  box-shadow: 0px 1px $color, 0px 2px $color, 0px 3px $color, 0px 4px $color;
}

//   @include skeleton;