.logo {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  &.white {
    .logo__img {
      filter: brightness(0%)  invert(1); 
    }
  }
  &__img {
    scale: 0.8;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 3080/1110;
  }
}
