.deposit-niki-for-other-user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__drawer-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    &-title {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: "moraba";
      font-size: 14px;
      font-weight: 700;
      color: var(--gray-950);
    }
    &-body {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &-content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &-row {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 24px;
          &-input {
            padding-top: 32px;
            gap: 0;
          }
        }
        &-buttons {
          width: 100%;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          margin-top: 16px;
        }
      }
      :global(input[type="number"]) {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    &-footer {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      &-button {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        &--exception {
          padding-block: 0px 2px;
        }
      }
    }
  }
}

.success-icon {
  margin-bottom: 16px;
}

.success-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}