.withdraw-niki-to-bank {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__drawer-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;

    &-title {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: "moraba";
      font-size: 18px;
      font-weight: 700;
      color: var(--gray-950);
    }

    &-body {
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 24px;
      overflow-y: auto;
    }

    &-footer {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      &-button {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &--exception {
          padding-block: 0px 2px;
        }
      }
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }
  &__balance-badge-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &__balance-badge {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
}

.success-icon {
  margin-bottom: 16px;
}

.success-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}