.file-download {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    background-color: var(--gray-100);
    width: 100%;
    min-width: 180px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    border-radius: 12px;
    padding: 8px;
    transition: all 0.3s ease;
    border: 1px solid var(--gray-100);

    &:hover {
      opacity: 0.9;
    }
  }

  &__top-row {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &__icon-view,
  &__icon-download,
  &__icon-delete {
    background-color: var(--main-white);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
      
      svg {
        transform: scale(1.1);
      }
    }
  }

  &__icon-view {
    background-color: var(--primary-50);
    
    &:hover {
      background-color: var(--primary-100);
    }
  }

  &__icon-download {
    background-color: var(--primary-50);
    
    &:hover {
      background-color: var(--primary-100);
    }
  }

  &__icon-delete {
    background-color: var(--error-50);
    
    &:hover {
      background-color: var(--error-100);
    }
  }

  &__content {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
