
.personal-social-networks {
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__add-inline-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.personal-social-networks__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px 16px;
  text-align: center;
}

.personal-social-networks__empty-img {
  width: 156px;
  height: 156px;
  margin-bottom: 8px;
}

.personal-social-networks__add-inline {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  color: var(--primary-700);
  cursor: pointer;
}

.personal-social-networks__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.personal-social-networks__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.personal-social-networks__item {
  background-color: var(--main-white);
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.personal-social-networks__item-actions{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  svg{
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
}

.personal-social-networks__item-top-right {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:4px;
}

.personal-social-networks__item-actions {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.icon-btn {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}


/* Drawer content styles */
.personal-social-networks__drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 4px 16px;
  width: 100%;
  &-top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.personal-social-networks__drawer-field {
  display: flex;
}

.personal-social-networks__drawer-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}


