.messageWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  flex-shrink: 0;
}

.messageWrapperUser {
  align-items: flex-end;
  width: 446px;
}

.messageWrapperAgent {
  align-items: flex-start;
  justify-content: center;
  width: 363px;
}

.messageHeader {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.messageHeader .icon {
  position: relative;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.messageHeader .icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.messageHeader .name {
  font-family: 'IRANSansWebFaNum:Medium', sans-serif;
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
  white-space: nowrap;
  text-align: right;
}

.messageHeader .nameUser {
  color: #243464;
}

.messageHeader .nameAgent {
  color: #50545f;
}

.messageBubble {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.messageBubbleUser {
  background: #b7cfe8;
  border-radius: 12px 12px 12px 0;
}

.messageBubbleAgent {
  background: #ebf1f8;
  border-radius: 12px 12px 0 12px;
}

.messageBubble .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: clip;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.messageBubble .content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.messageBubble .text {
  font-family: 'IRANSansXFaNum:Regular', sans-serif;
  line-height: normal;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #131d28;
  font-size: 12px;
  text-align: right;
  width: 100%;
}

.messageFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.messageFooterUser {
  gap: 8px;
}

.messageFooterAgent {
  gap: 8px;
}

.editButton {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.editButton:hover {
  opacity: 0.7;
}

.editButton svg {
  display: block;
  width: 100%;
  height: 100%;
}

.messageTime {
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
}

.messageTime .time {
  font-family: 'IRANSansXFaNum:Regular', sans-serif;
  line-height: 24px;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #5e758e;
  font-size: 10px;
  white-space: nowrap;
}
