.auth-toggle-button {
  height: 32px;
  width: 52px;
  position: relative;

  &__profile {
    &-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
    }
    &-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid;
      overflow: hidden;
    }
    &-icon {
      width: fit-content;
      height: fit-content;
      // padding-top: 4px;
      scale: 1.4;
    }
  }
  .auth-toggle-button__profile-avatar-wrapper {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
  }

  &__dropdown-menu {
    position: absolute;
    top: 48px;
    left: 0;
    min-width: 260px;
    border-radius: 20px;
    background: var(--main-white);
    box-shadow: 0 4px 24px var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 10;

    &-wrapper {
      padding: 16px 0;
    }

    &-header {
      width: calc(100% - 32px);
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      margin-inline: 16px;
      padding: 8px;
      cursor: pointer;
      border-radius: 8px;
      transition: background 0.15s;
      background: none;
      // margin: 8px 16px 0;

      &:hover {
        background-color: var(--gray-50);
      }
      &-info {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2px;
      }
      &-icon {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }

    &-item {
      padding: 8px 0;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.15s;
      background: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 16px 0;
      &-detail {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &-wrapper {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: space-between;
          padding-inline: 8px;
        }
        &--mobile {
          width: 100%;
          height: fit-content;
          padding-inline-start: 8px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
        }
        &--wallet {
          background-color: var(--primary-50);
          border-radius: 16px;
          padding: 24px 16px;
        }
      }
      &--wallet {
        border-radius: 16px;
        padding: 0;
        &:hover {
          background: var(--primary-50);
        }
      }
      &:hover {
        background: var(--gray-50);
      }
    }
  }
}
