.user-financial-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_header {
      width: 100%;
      height: fit-content;
      padding-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      &_cards {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 16px;
        flex-wrap: wrap;
      }
      &_card {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }
  }
}
