.badge {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
  border-radius: 16px;
  flex-shrink: 0;
}

.blue {
  background: #edfaff;

  .text {
    color: #007bff;
  }
}

.yellow {
  background: #ffffea;

  .text {
    color: #e29400;
  }
}

.content {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
 
  p {
    line-height: normal;
    white-space: pre;
    margin: 0;
  }
}

