.headerCard {
  background: white;
  position: relative;
  border-radius: 16px;
  flex-shrink: 0;
  width: 558px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 24px;
}

.headerCard::after {
  content: '';
  position: absolute;
  border: 1px solid #d1e1f2;
  inset: 0;
  pointer-events: none;
  border-radius: 16px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #131d28;
  font-size: 16px;
  text-align: center;
  width: 100%;
 }

.title p {
  line-height: 24px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.infoRow {
  display: flex;
  gap: 2px;
  align-items: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
  width: 100%;
}

.infoRow .label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  color: #435a73;
  font-size: 12px;
  
}

.infoRow .label p {
  line-height: normal;
  white-space: pre;
}

.infoRow .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  color: #1f2b37;
  font-size: 14px;
 }

.infoRow .value p {
  line-height: normal;
  white-space: pre;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
  color: black;
  text-align: right;
  width: 100%;
  
}

.description p {
  line-height: normal;
}
