.statsCard {
  background: white;
  position: relative;
  border-radius: 12px;
  flex-shrink: 0;
  width: 100%;
}

.statsCard::after {
  content: '';
  position: absolute;
  border: 1px solid #d1e1f2;
  inset: 0;
  pointer-events: none;
  border-radius: 12px;
}

.statsCard .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.statsCard .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}

.statsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  width: 100%;
}

.statsLeft {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
}

.statsIcon {
  background: #1f7634;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  overflow: clip;
  padding: 0 0 6px;
  position: relative;
  border-radius: 8px;
  flex-shrink: 0;
  width: 69px;
  height: 69px;
}

.statsIcon .iconText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
  color: white;
  font-family: 'Morabba:SemiBold', sans-serif;
}

.statsIcon .iconText p {
  line-height: 0;
  white-space: pre;
}

.statsInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
}

.statsTitle {
   line-height: 24px;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #131d28;
  font-size: 16px;
  white-space: nowrap;
  text-align: right;
}

.statsUpdate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  overflow: clip;
  position: relative;
  flex-shrink: 0;
}

.statsUpdate .updateText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #5d6e82;
  font-size: 12px;
  white-space: nowrap;
  text-align: right;
  
}

.statsUpdate .updateText p {
  line-height: normal;
  white-space: pre;
}

.statsAmount {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  font-style: normal;
  position: relative;
  flex-shrink: 0;
  color: #435a73;
  white-space: nowrap;
  text-align: right;
}

.statsAmount .amount {
  
  line-height: 24px;
  position: relative;
  flex-shrink: 0;
  font-size: 16px;
}

.statsAmount .currency {
  
  line-height: normal;
  position: relative;
  flex-shrink: 0;
  font-size: 12px;
}
